<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/Azaferany/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="Azaferany" />
      <add key="ClearTextPassword" value="e96388fb8331367b2c85cc627e30ef814e82f76f" />
    </github>
  </packageSourceCredentials>
</configuration>